################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/generator/gen/bin/Debug
/generator/gen/obj/Debug
